:root {
    --bg: #0B0C10;
    --card: #1F2833;
    --darker-card: #1E1E1E;
    --text-primary: #C5C6C7;
    --text-secondary: #9AA9C5;
    --neon-blue: #3A82F7;
    --neon-cyan: #66FCF1;
    --contact-bg: #161616;
    --glass: rgba(255, 255, 255, 0.04);
    --primary-light: #ffffff;
}

$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desktop: 1280px;