.button {
    background: var(--neon-blue);
    color: var(--primary-light);
    border: 2px solid var(--neon-blue);
    border-radius: 32px;
    cursor: pointer;
    font-weight: 600;
    padding: 16px 32px;
    font-size: 18px;
    align-items: center;
}

.button:hover {
    background: transparent;
    color: var(--neon-cyan);
    box-shadow: 0 0 40px rgba(58, 130, 247, 0.5);
}