.projects-card {
    background: var(--card);
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    transition: 0.4s ease;
    box-shadow: 0 0 0 transparent;
    // max-height: 448px;

    &:hover {
            box-shadow: 0 0 25px var(--neon-blue);
            transform: translateY(-5px);
    }
        &__context {
            padding: 24px;
        }
    
        &__img {
            width: 100%;
            /* height: 80%; */
            object-fit: contain;
    
        }
    
        &__title {
            font-size: 1.25rem;
            font-weight: 700;
            color: var(--primary-light);
            margin-bottom: 6px;
        }
    
        &__text {
            color: #ccc;
            margin-bottom: 14px;
        }

               &__button {
                    padding: 8px 10px;
                    width: 100%;
                    color: var(--primary-light);
                    border-radius: 10px;
                    background: #253a5a;
                    align-items: center;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 10px;
        
                    &:hover {
                        background: var(--neon-blue);
                    }
                }

}




.technologies__list {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.technologies__items {
    background: #253a5a;
    padding: 4px 10px;
    border-radius: 20px;
    font-size: 0.8rem;
    color: var(--neon-cyan);
}



