.skills-card{
    &__img {
            width: 40px;
            height: 40px;
            margin-bottom: 10px;
        }
    
        &__title {
            font-size: 1.25rem;
            line-height: 1.75rem;
            font-weight: 600;
            color: var(--primary-light);
        }
}