.about-section {
    background-color: var(--card);

    &__container {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        @media screen and (min-width: $bp-tablet) {
            flex-direction: row;
            }
        }
    
    &__context {
        line-height: 1.625;
        font-size: 1.125rem;
        max-width: 600px;
    }

    &__image-wrapper {
        position: relative;
            width: 260px;
            height: 260px;
            margin: 0 auto;
        
            @media screen and (min-width: $bp-tablet) {
                width: 350px;
                height: 350px;
            }
        
            @media screen and (min-width: $bp-desktop) {
                width: 400px;
                height: 400px;
            }
    }
    
    &__circle {
        position: absolute;
            inset: 0;
            border-radius: 50%;
            border: 3px solid var(--neon-blue);
            box-shadow: 0 0 20px var(--neon-blue);
    
        &::after {
            content: "";
                position: absolute;
                inset: 20px;
                border-radius: 50%;
                border: 2px solid var(--neon-cyan);
                opacity: .7;
        }
    }
    &__glow {
        position: absolute;
            inset: -40px;
            border-radius: 50%;
            background: radial-gradient(circle, rgba(58, 130, 247, 0.4), transparent 70%);
            filter: blur(35px);
    }
    
    &__icon {
        position: absolute;
            inset: 0;
            margin: auto;
            width: 55%;
            height: 55%;
            stroke: var(--neon-blue);
        z-index: 2;
    }
}
