.contacts-form {
    gap: 20px;
    flex: 0 1 calc(50% - 30px);

   &__button {
            width: 100%;
            border-radius: .75rem;
            padding: 18px 0px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
        }
}

.contacts-form label {
    color: var(--text-secondary);
    font-size: 16px;
    margin-bottom: 6px;
    display: block;
}

.contacts-form input,
.contacts-form textarea {
    margin-bottom: 20px;
}
