.mobile-menu {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    padding: 16px 24px;
    background-color: var(--bg);
    transform: translateX(100%);
    transition: transform 0.3s;


    &.is-open {
        transform: translateX(0);
    }

    &__btn-close {
        position: absolute;
        top: 16px;
        right: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        fill: transparent;
        stroke: var(--card);
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    &__logo {
        margin-bottom: 32px;
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    &__link {
        color: var(--neon-blue);
        font-size: 20px;
        line-height: 1.5;
        text-decoration: none;

        &:hover {
            color: var(--neon-cyan);
            box-shadow: 0 10px 15px -3px rgba(58, 130, 247, 0.3),
                    0 4px 6px -4px rgba(58, 130, 247, 0.3);
        }
    }
}