.projects-section {
    &__list {
        display: grid;
        gap: 30px;
        padding: 0;
        margin: 0;
        list-style: none;

        // mobile
        grid-template-columns: 1fr;

        @media screen and (min-width: $bp-tablet) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media screen and (min-width: $bp-desktop) {
            grid-template-columns: repeat(3, 1fr);
        }
    }
}