.section {
        padding: 48px 0;
        @media screen and (min-width: $bp-tablet) {
    padding: 96px 0;
}
}

.section__title {
    color: var(--primary-light);
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 2.5rem;
    margin-bottom: 40px;
}

.section__title.centered {
    text-align: center;
}